<div class="sign-up">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="bo4 of-hidden size15 m-b-20">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
                        class: "sizefull s-text7 p-l-22 p-r-22",
                        placeholder: "Email" %>
    </div>

    <div class="bo4 of-hidden size15 m-b-20">
      <%= f.password_field :password, autocomplete: "new-password",
                           class: "sizefull s-text7 p-l-22 p-r-22",
                           placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="bo14 of-hidden size15 m-b-20">
        <%= f.check_box :remember_me %>
        <%= f.label "Recordar" %>
      </div>
    <% end -%>

    <div class="w-size25 btn-signup">
      <%= f.submit "Log in", class: "flex-c-m size2 bg1 bo-rad-23 hov3 m-text3 trans-0-4" %>
    </div>
  <% end %>
  <div class="w-size25">
    <%= render "devise/shared/links" %>
  </div>
</div>
